.navbar {
    background-color: black;
    overflow: hidden;
}

table {
    width: 500px;
    border: 1px solid #000;
    margin: auto;
}

body {
    margin: 0px;
}

.navbar a {
    color: white;
    float: left;
    text-align: center;
    padding: 0.75em 0.75em;
    font-size: 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: gray;
    color: lightskyblue;
}

#searchPost {
    float: left;
    padding: 0.70em 0.70em;
}


#info {
    text-align: center;
}

.registerForm {
    display: block;
    text-align: center;
}

#postinfo{
    border: 1px solid black;
}

.postwrapper{
    border: 1px solid black;
}

.commentwrapper{
    border: 1px solid black;
}

.allposts{
    border: 1px solid black;
    margin-bottom: 0.25em;
}

.inner{
    margin: 0.25em;
    border: 1px solid black;
    padding: 0.25em;
}

.content{
    border: 1px solid black;
    margin-top: 0.25em;
}

.postForm {
    display: block;
    text-align: center;
}

.userForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.submit {
    display: block;
    text-align: center;
    padding: 0.25em;
}

.form-group {
    padding: 0.25em;
}

.red {
    border: 10px solid red;
}

#pp {
    width: 50%;
    height: auto;
}